/**
 * Box-sizing
 * Padding is applied to the inside of the box, and does not affect width calculations.
 * Required for the Grid module.
 * Browser Support is limited to IE >= 8, and modern browsers.
 * http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}
